body
{
	background-color: #a1a3a6;
	background-image: url(space_bg.jpg);
	background-repeat: repeat;
}

A:link
{
	text-decoration: none;
	color: #ffffff;
}

A:visited
{
	text-decoration: none;
	color: #ffffff;
}

A:active
{
	text-decoration: none;
	color: #ffffff;
}

A:hover
{
	text-decoration: none;
	color: #d8b9aa;
}

.text_header
{
	font-family: Trebuchet MS, Arial;
	font-size: 20px;
	font-style: normal;
	font-weight: bolder;
	
	background-image: url(space_header_fill.jpg);
	background-repeat: repeat-x;
	background-color: #787c80;
	color: #ffffff;
}

.text_subheader
{
	font-family: Trebuchet MS, Arial;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	
	background-image: url(space_subheader_fill.jpg);
	background-repeat: repeat-x;
	background-color: #e1e3eb;
	color: #ffffff;
}

.text_normal
{
	font-family: Trebuchet MS, Arial;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	
	background-color: #000000;
	color: #ffffff;
}

.text_normal_link
{
	font-family: Trebuchet MS, Arial;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-weight: bold;
	
	color: #ffffff;
}

.table_border
{
	border: solid #ffffff 1px;
}

.input_button
{
	font-weight: bold;
	
	color: #ffffff;
	background-image: url(space_button_fill.jpg);
	background-repeat: repeat-x;
	
	border-right: solid #000000 1px;
	border-top: solid #ffffff 1px;
	border-bottom: solid #000000 1px;
	border-left: solid #ffffff 1px;
	
	font-weight: bold;
}

.input_textbox
{
	background-color: #ffffff;
	color: #000000;
	
	font-weight: bold;
}

.input_textbox_noborder
{
	border: solid #787c80 1px;
	
	background-color: #787c80;
	background-image: url(space_header_fill.jpg);
	background-repeat: repeat-x;
	
	color: #ffffff;
	
	font-weight: bold;
}

.input_textbox_fixedwidth
{
	width: 260px;
}


.text_small
{
	font-family: Trebuchet MS, Arial;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	
	background-color: #000000;
	color: #ffffff;
}